<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">
		<h1 style="color: DodgerBlue">About Us</h1>
		<body bgcolor="lightcyan">
		<form>
      		<button type="submit" formaction="/fsd" style="background: lightpink; height: 100px; width: 200px; color:black; font:oblique;">FONG SUK DIEN</button><br><br>
      		<button type="submit" formaction="/fmw" style="background: lightyellow; height: 100px; width: 200px; color:black; font:oblique;">FOO MENG WEN</button><br><br>
      		<button type="submit" formaction="/ethan" style="background: lightgreen; height: 100px; width: 200px; color:black; font:oblique;">ETHAN LIM LIANG HUI</button><br><br>
		</form>
		<a href="/">Home</a>
		</body>
	</font>
</center>
</html>
