<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: DodgerBlue">About Us</h1>

		<body bgcolor="lightcyan">
			
			<form action>
				{{ table }}
			</form>
            		<form>
            			<button type="submit" formaction="/czs" style="background: lightpink; height: 100px; width: 300px; color:black; font:oblique; font-size:20px;">CHUA ZI SAN</button><br><br><br>
      				<button type="submit" formaction="/fxy" style="background: lightyellow; height: 100px; width: 300px; color:black; font:oblique; font-size:20px;">FONG XIN YI</button><br><br><br>
      				<button type="submit" formaction="/tpy" style="background: lightgreen; height: 100px; width: 300px; color:black; font:oblique; font-size:20px;">EUNICE TEH PEI YEEN</button><br><br><br><br>
			</form>
			<a href="/">Home</a>
			
		</body>
	</font>
</center>
</html>
