<!DOCTYPE html>
<html>
<head>
	<title>Add Payroll Information</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Database</h1>

		<body bgcolor="lightgrey">

			<form method="post" action="/addpay">
                <dl>
                    <p>
                        <input name="inputName" value="" type="text" placeholder="Name" autocomplete="off" required>
                    </p>
                    <p>
                        <input name="inputEmail" value="" type="text" placeholder="Email" autocomplete="off" required>
                    </p>
                    <p>
                        <input name="inputPassword" value="" type="password" placeholder="Password" autocomplete="off" required>
                    </p>
                </dl>
                <p>
                    <input type="submit" value="Submit">
                </p>
            </form>
		</body>

	</font>
</center>
</html>
