<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chua Zi San Portfolio</title>
	<link rel="stylesheet" href="chua.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="#about-me">About Me</a></li>
				<li><a href="#projects">Projects</a></li>
				<li><a href="#timeline">Timeline</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</nav>
	</header>

	<section id="profile">
		<img id="profile" src="img/img1.jpg" alt="Profile Chua Zi San">
		<div class="content">
			<h1>Hello</h1>
			<h1>I'm Chua Zi San</h1>
		</div>
	</section>
	<main>
		<section id="about-me">
			<h1>About Me</h1>
			<div class="section-header text-left">
				<h2>Data Scientist</h2>
			</div>
			<div class="about-text">
				<p>
					Responsible and ambitious data analyst with 3+1 years of study in relevant field. Team-oriented to deliver the maximum productivity of solutions for the project. Seeking to apply my professional abilities and data statistics skills to the business. 
				</p>
			</div>
			<div class="about" style="width: 100%;">
				<div class="about-content1" style="float:left; width: 50%">
					<div class="skills">
						<div class="skill-name">
							<p>MS Excel</p><p>90%</p>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
							style="width:90%"></div>
						</div>
						<div class="skill-name">
							<p>Web Design</p><p>80%</p>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%"></div>
						</div>
						<div class="skill-name">
							<p>C++</p><p>80%</p>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
							style="width:80%"></div>
						</div>
					</div>
				</div>

				<div class="about-content2" style="float:left; width: 50%">
					<div class="skills">
						<div class="skill-name">
							<p>SQL</p><p>80%</p>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%"></div>
						</div>
						<div class="skill-name">
							<p>Python</p><p>75%</p>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
							style="width:75%"></div>
						</div>
						<div class="skill-name">
							<p>Java</p><p>60%</p>
						</div>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
							style="width:60%"></div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div style="clear:both"></div>
		
		<section id="projects">
			<h1>Projects</h1>
			<div class="project" style="width: 100%;">
				<div class="gallery" style="float:left; width: 49%">
					<a target="_blank" href="img/img2.jpeg">
						<img src="img/img2.jpeg" alt="NLP">
					</a>
					<div class="desc">Lemmatization the malay language by using NLP tool</div>
				</div>
				  
				<div class="gallery" style="float:left; width: 49%">
					<a target="_blank" href="img/img3.jpeg">
					  	<img src="img/img3.jpeg" alt="Website">
					</a>
					<div class="desc">Create a own website by using HTML and CSS</div>
				</div>
				  
				<div class="gallery" style="float:left; width: 49%">
					<a target="_blank" href="img/img4.jpeg">
					  	<img src="img/img4.jpeg" alt="Advertisement">
					</a>
					<div class="desc">Develop a video advertisement by using Google Web Designer</div>
				</div>
				  
				<div class="gallery" style="float:left; width: 49%">
					<a target="_blank" href="img/img5.jpeg">
					  	<img src="img/img5.jpeg" alt="Mini Game">
					</a>
				<div class="desc">Develop a competition running game by using C++</div>
					
				</div>
			</div>
		</section>
		<div style="clear:both"></div>
		<br><br>

		<section id = "progress">
			<div id = "timeline" style="width: 100%;">
				<div class = "experience" style="float:left; width: 50%">
					<h1 style="text-align: left;">Experience</h1>

					<div class="timeline" >
						<div class="timeline-wrapper">
							<div class="timeline-yr">
								<span>2019</span>
							</div>
							<div class="timeline-info">
								<h3><span>Volunteer</span><small>Lions Clubs Malaysia</small></h3>
								<p>A kind activity with<a target="_blank" href="img/img5.jpeg">Lions Clubs</a></p>
							</div>
						</div>
						
						<div class="timeline-wrapper">
							<div class="timeline-yr">
								<span>2018</span>
							</div>
							<div class="timeline-info">
								<h3><span>Society's Chairman</span><small>Chinese Language Society</small></h3>
								<p></p>
							</div>
						</div>

						<div class="timeline-wrapper">
							<div class="timeline-yr">
								<span>2016</span>
							</div>
							<div class="timeline-info">
								<h3><span>Exhange Student<small>Negeri Sembilan</small></h3>
								<p></p>
							</div>
						</div>
						
						<div class="timeline-wrapper">
							<div class="timeline-yr">
								<span>2014</span>
							</div>
							<div class="timeline-info">
								<h3><span>Class Monitor, School Prefect<small>Crafted Co.</small></h3>
								<p></p>
							</div>
						</div>
					</div>
				</div>

				<div class = "education" style="float:right; width: 50%">
					<h1 style="text-align: left;">Education</h1>

					<div class="timeline">
						<div class="timeline-wrapper">
							<div class="timeline-yr">
								<span>2023</span>
							</div>
							<div class="timeline-info">
								<h3><span>Degree</span><small>Bachelor of Computer Science (Honours) in Data Science</small></h3>
								<ul>
									<li>Study at<a rel="foundation" href="https://www.tarc.edu.my/cpus/a/programmes/foundation-in-computing/">TAR University of Management & Technology</a></li>
									<li>Awarded CGPA 3.81 currently</li>
									<li>Majored in Data Science Courses included Advanced Database Management, Data Visualization, Data Science and Artificial Intelligence.</li>
								</ul>
							</div>
						</div>

						<div class="timeline-wrapper">
							<div class="timeline-yr">
								<span>2020</span>
							</div>
							<div class="timeline-info">
								<h3><span>Foundation</span><small>Foundation In Computing</small></h3>
								<ul>
									<li>Study at<a rel="foundation" href="https://www.tarc.edu.my/cpus/a/programmes/foundation-in-computing/">TAR University College</a></li>
									<li>Awarded CGPA 3.74</li>
									<li>Majored in Computing Programming Courses included Web Development, Data Management, Introduction to Multimedia  and Emerging Trend in IT.</li>
								</ul>
							</div>
						</div>
						
						<div class="timeline-wrapper">
							<div class="timeline-yr">
								<span>2019</span>
							</div>
							<div class="timeline-info">
								<h3><span>SPM</span><small>Science Stream</small></h3>
								<ul>
									<li>Study at<a rel="school" href="https://smkhillcrest.weebly.com/">SMK Hillcrest</a></li>
									<li>Awarded 2A 7B in SPM</li>
									<li>I am a Math major. Active in co-curricular activities: Badminton Competition, Chinese Language Society Chairman, Poetry Competition</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
		</section>
		<div style="clear:both"></div>

		<hr style="height:2px; background-color:#ff5e00">

		<section id = "contact">
			<h1>Contact Me</h1>
			<div id = "contact" style="width: 100%;">
				<div class = "map" style="float:left; width: 50%">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15934.060931668953!2d101.7257091066899!3d3.221031164846504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc391d12f7fd45%3A0x2ea962f72be9a92a!2sKL%20East%20Mall!5e0!3m2!1sen!2smy!4v1683334429376!5m2!1sen!2smy" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
				<div class="column" style="float:right; width: 50%">
					<form>
					<label for="name">Name</label>
					<input type="text" id="name" name="name" placeholder="Your name..">
					<label for="company">Company</label>
					<input type="text" id="company" name="lastname" placeholder="Your company name..">
					<label for="state">State</label>
					<select id="state" name="state">
						<option value="Johor">Johor</option>
						<option value="Kedah">Kedah</option>
						<option value="Kelantan">Kelantan</option>
						<option value="Malacca">Malacca</option>
						<option value="Negeri Sembilan">Negeri Sembilan</option>
						<option value="Pahang">Pahang</option>
						<option value="Penang">Penang</option>
						<option value="Perak">Perak</option>
						<option value="Perlis">Perlis</option>
						<option value="Sabah">Sabah</option>
						<option value="Sarawak">Sarawak</option>
						<option value="Selangor">Selangor</option>
						<option value="Terengganu">Terengganu</option>
						<option value="Kuala Lumpur">Kuala Lumpur</option>
						<option value="Labuan">Labuan</option>
						<option value="Putrajaya">Putrajaya</option>
					</select>
					<br><br>
					<label for="description">Description</label>
					<textarea id="description" name="description" placeholder="Write something.." style="height:150px"></textarea>
					<input type="submit" value="Submit">
					</form>
			  	</div>
			</div>
		</section>
		<div style="clear:both"></div>
	</main>
	<footer>
		<p>© 2023 Chua Zi San Portfolio. All rights reserved.</p>
	</footer>
</body>
</html>