<!DOCTYPE html>
<html>
<style>
 td {
        width: 150px;
        text-align: center;
        border: 1px solid black;
        padding: 5px;
      }
</style>
<head>
	<title>Faber-Castell Company</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Information</h1>
		
		<body bgcolor="lightcyan">
			{% for row in data0 %} 
				<h3>Total employee: {{row[0]}} employees </h3>
			{% endfor %}
			
			<table style="margin: 0px 10px;">
  				<thead>
    					<tr>
        					<th>Employee ID</th>
        					<th>First Name</th>
        					<th>Last Name</th>
						<th>Primary Skill</th>
        					<th>Location</th>
        					<th>Department</th>
						<th>Job Title</th>
        					<th>Salary</th>
        					<th>Bonus</th>
						<th>Payroll</th>
    					</tr>
    				</thead>    
    				<tbody>
     					{% for row in data1 %}    
            					<tr>
                					<td>{{row[0]}}</td>
                					<td>{{row[1]}}</td>
                					<td>{{row[2]}}</td>
							<td>{{row[3]}}</td>
                					<td>{{row[4]}}</td>
							<td>{{row[5]}}</td>
                					<td>{{row[6]}}</td>
							<td>{{row[7]}}</td>
                					<td>{{row[8]}}</td>
							<td>{{row[9]}}</td>
            					</tr>
        				{% endfor %}
    				</tbody>
			</table>
			<br>

			<div style="width: 100%;">
			<div style="float:left; width: 50%;">
			<h3 style="color:blue;">Total employee in each area</h3>
      			<table>
  				<thead>
    					<tr>
        					<th>Location</th>
						<th>Department</th>
        					<th>Num</th>
        					<th>Total Payroll</th>
    					</tr>
    				</thead>    
    				<tbody>
     					{% for row in data2 %}    
            					<tr>
                					<td>{{row[0]}}</td>
							<td>{{row[1]}}</td>
                					<td>{{row[2]}}</td>
                					<td>RM {{row[3]}}</td>
            					</tr>
        				{% endfor %}
    				</tbody>
			</table>
			</div>
			<br>

      			<div style="float:left; width: 50%;">
			<h3 style="color:blue;">High-level employee in company</h3>
			<table>
  				<thead>
    					<tr>
        					<th>Employee ID</th>
        					<th>Primary Skill</th>
        					<th>Job_title</th>
						<th>Total Payroll</th>
    					</tr>
    				</thead>    
    				<tbody>
     					{% for row in data3 %}    
            					<tr>
                					<td>{{row[0]}}</td>
                					<td>{{row[1]}}</td>
							<td>{{row[2]}}</td>
                					<td>RM {{row[3]}}</td>
            					</tr>
        				{% endfor %}
    				</tbody>
			</table>
      			</div>
			</div>
			<br>
		</body>
	</font>
</center>
</html>
