<!DOCTYPE html>
<html>
<head>
	<title>Edit Payroll Information</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Database</h1>

		<body bgcolor="lightgrey">

			<form method="post" action="/editpay">
                <dl>
                    <p>
                        <input name="emp_id" value="{{ row['emp_id'] }}" type="text" placeholder="Employee ID" autocomplete="off" required>
                    </p>
                    <p>
                        <input name="job_title" value="{{ row['job_title'] }}" type="text" placeholder="Job Title" autocomplete="off" required>
                    </p>
                    <p>
                        <input name="salary" value="" type="number" placeholder="Salary" autocomplete="off" required>
                    </p>
                </dl>
                <p>
                    <input name="emp_id" value="{{ row['emp_id'] }}" type="hidden">
                    <input type="submit" value="Submit">
                </p>
            </form>
		</body>

	</font>
</center>
</html>
