<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Pixel Perfect Portfolio</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Varela" rel="stylesheet">

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='ethan_css/bootstrap.min.css')}}" />

    <!-- Font Awesome core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='ethan_css/font-awesome.min.css')}}" />
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='ethan_css/style.css')}}">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <!-- Hero Section, Background Image change in css -->
    <div id="top" class="hero background-overlay">
    
        <!-- Name & Description -->
        <div class="hero-content">
            <h1>Lim Liang Hui Ethan</h1>
            <p class="hero-job"><span>Profile Page</span></p>

        </div><!-- /.hero-content -->

        <div class="hero-arrow page-scroll home-arrow-down">
            <a class="" href="#intro"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
        </div><!-- /.hero-arrow -->

    </div><!-- /.hero -->
    <!-- End Hero -->

    <!-- Header -->
    <header id="masthead" class="site-header">
        <nav id="primary-navigation" class="site-navigation" data-spy="affix">
            <div class="container">
                <div class="navbar-header page-scroll">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#portfolio-perfect-collapse" aria-expanded="false" >
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <!-- Name -->
                    <div class="page-scroll site-logo">
                        <a href="#top">Ethan</a>
                    </div>

                </div><!-- /.navbar-header -->

                <div class="main-menu collapse navbar-collapse" id="portfolio-perfect-collapse">

                    <!-- Navigation -->
                    <ul class="nav navbar-nav navbar-right">

                        <li class="page-scroll"><a href="#top">Home</a></li>
                        <li class="page-scroll"><a href="#intro">Intro</a></li>
                        <li class="page-scroll"><a href="#skills">Skills</a></li>
                        <li class="page-scroll"><a href="#contact">Contact</a></li>
                        
                    </ul><!-- /.navbar-nav -->

                </div><!-- /.navbar-collapse -->
            </div>
        </nav><!-- /.primary-navigation -->
    </header><!-- /#header -->
    <!-- End Header -->

    <!-- Main content -->
    <main id="main" class="site-main">

        <!-- Hello section -->
		<section class="site-section section-hello" id="intro">
			<div class="container">
				<h2>Introduction About Me</h2>
				<p class="section-subtitle"><span>Biography</span></p>
				<div class="row">
					<div class="col-sm-4">
						<div class="main-service text-right">
							<h3>Bio</h3>
							<p> Age 21 <br> Born 29 January 2002 in Malaysia <br> Chinese <br> Living in Rawang </p>
						</div><!-- /.main-service -->
                        <div class="main-service text-right">
                            <h3>Language Skills</h3>
                            <p>Fluent in Malay, Chinese and English for daily communication <br> High English proficiency for speaking and writing.</p>
                        </div><!-- /.main-service -->
					</div>
					<div class="col-sm-4">
						<div class="big-rectangle">
							<img src="{{ url_for('static', filename='ethan_img/ethan_image.png')}}" alt="" height="200px" width="200px">
						</div><!-- /.big-rectangle -->
					</div>
					<div class="col-sm-4">
                        <div class="main-service text-left">
                            <h3>Hobbies</h3>
                            <p>Sports: Badminton, Squash <br> Reading: Light Novel, Comic <br> Watching videos: Documentaries, Motorsport races</p>
                        </div><!-- /.main-service -->
						<div class="main-service text-left">
							<h3>Quality</h3>
							<p>Willing to learn <br> Hardworking <br> Aim High <br> Leadership </p>
						</div><!-- /.main-service -->
					</div>
				</div>
			</div>
		</section><!-- /.section-hello -->
        <!-- End Hello section -->

        <!-- Skills section -->
        <section class="site-section section-skills" id="skills">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Computing Skills</h2>
                        <div class="progress-group">
                            <p>Web design</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="85">
                                </div>
                            </div><!-- /.progress -->
                        </div><!-- /.progress-group -->

                        <div class="progress-group">
                            <p>AWS Cloud</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="80">
                                </div>
                            </div><!-- /.progress -->
                        </div><!-- /.progress-group -->

                        <div class="progress-group">
                            <p>AI and Machine Learning</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="90">
                                </div>
                            </div><!-- /.progress -->
                        </div><!-- /.progress-group -->

                        <div class="progress-group">
                            <p>Python</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="95">
                                </div>
                            </div><!-- /.progress -->
                        </div><!-- /.progress-group -->

                        <div class="progress-group">
                            <p>Java</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="80">
                                </div>
                            </div><!-- /.progress -->
                        </div><!-- /.progress-group -->
                    </div>
                </div>
            </div>
        </section><!-- /.section-skills -->
        <!-- End Skills section -->

        <!-- Contacts section --> 
        <section class="site-section section-contact" id="contact">
            <div class="container">
                <h2>CONTACT MiKE</h2>
            </div>
            <div class="col-md-4">
                <p> Phone : 010 366 3072</p>
            </div>
            <div class="col-md-4">
                <p> Email : limlhe-wp20@student.tarc.edu.my</p>
            </div>
            <div class="col-md-4">
               <p> LinkedIn : Ethan Lim</p>
            </div>
        </section><!-- /.section-contact-->
        <!-- End Contacts section --> 

    </main><!-- /#main -->
    <!-- End Main content -->

    <!-- Footer --> 
    <footer id="colophon" class="site-footer">

        <div class="container-fluid">

            <ul class="list-unstyled list-inline">
                <li class="page-scroll"><a href="#top">Home</a></li>
                <li class="page-scroll"><a href="#intro">Intro</a></li>
                <li class="page-scroll"><a href="#skills">Skills</a></li>
                <li class="page-scroll"><a href="#contact">Contact</a></li>
            </ul>

            <div class="page-scroll">
                <a href="#top" class="rectangle">
                    <i class="fa fa-angle-double-up"></i>
                </a>
            </div>

        </div>

        <div class="container text-center">
            <p class="copyright">&copy; <a href="http://pixelperfect.mk/" target="_blank">PixelPerfect</a> - 2017</p>
        </div>

    </footer><!-- /#footer -->
    <!-- End Footer --> 

    <!-- Modals -->
    <div id="portfolioItem1" class="modal fade fade-scale" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="rectangle" data-dismiss="modal"><i class="fa fa-times"></i></a>
                    <img class="img-res" src="{{ url_for('static', filename='ethan_img/portfolio-1.jpg')}}" alt="">
                </div>
                <div class="modal-body">
                    <h4 class="modal-title">Project title</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo finibus tristique. Maecenas dignissim condimentum sem eu tincidunt. Curabitur in dui quis magna vestibulum pulvinar a ut urna. Nam pellentesque mattis urna. Aenean eget lectus sit amet turpis facilisis consectetur quis vel ante. Integer in massa ut nibh ultricies sagittis imperdiet in ante. Nam sed turpis vel ante placerat feugiat ac tempus magna. Nam aliquet ullamcorper dolor non hendrerit.</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn">Visit Page</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="portfolioItem2" class="modal fade fade-scale" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="rectangle" data-dismiss="modal"><i class="fa fa-times"></i></a>
                    <img class="img-res" src="{{ url_for('static', filename='ethan_img/portfolio-2.jpg')}}" alt="">
                </div>
                <div class="modal-body">
                    <h4 class="modal-title">Project title</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo finibus tristique. Maecenas dignissim condimentum sem eu tincidunt. Curabitur in dui quis magna vestibulum pulvinar a ut urna. Nam pellentesque mattis urna. Aenean eget lectus sit amet turpis facilisis consectetur quis vel ante. Integer in massa ut nibh ultricies sagittis imperdiet in ante. Nam sed turpis vel ante placerat feugiat ac tempus magna. Nam aliquet ullamcorper dolor non hendrerit.</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn">Visit Page</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="portfolioItem3" class="modal fade fade-scale" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="rectangle" data-dismiss="modal"><i class="fa fa-times"></i></a>
                    <img class="img-res" src="{{ url_for('static', filename='ethan_img/portfolio-4.jpg')}}" alt="">
                </div>
                <div class="modal-body">
                    <h4 class="modal-title">Project title</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo finibus tristique. Maecenas dignissim condimentum sem eu tincidunt. Curabitur in dui quis magna vestibulum pulvinar a ut urna. Nam pellentesque mattis urna. Aenean eget lectus sit amet turpis facilisis consectetur quis vel ante. Integer in massa ut nibh ultricies sagittis imperdiet in ante. Nam sed turpis vel ante placerat feugiat ac tempus magna. Nam aliquet ullamcorper dolor non hendrerit.</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn">Visit Page</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="portfolioItem4" class="modal fade fade-scale" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="rectangle" data-dismiss="modal"><i class="fa fa-times"></i></a>
                    <img class="img-res" src="{{ url_for('static', filename='ethan_img/portfolio-3.jpg')}}" alt="">
                </div>
                <div class="modal-body">
                    <h4 class="modal-title">Project title</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo finibus tristique. Maecenas dignissim condimentum sem eu tincidunt. Curabitur in dui quis magna vestibulum pulvinar a ut urna. Nam pellentesque mattis urna. Aenean eget lectus sit amet turpis facilisis consectetur quis vel ante. Integer in massa ut nibh ultricies sagittis imperdiet in ante. Nam sed turpis vel ante placerat feugiat ac tempus magna. Nam aliquet ullamcorper dolor non hendrerit.</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn">Visit Page</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="portfolioItem5" class="modal fade fade-scale" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="rectangle" data-dismiss="modal"><i class="fa fa-times"></i></a>
                    <img class="img-res" src="{{ url_for('static', filename='ethan_img/portfolio-5.jpg')}}" alt="">
                </div>
                <div class="modal-body">
                    <h4 class="modal-title">Project title</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo finibus tristique. Maecenas dignissim condimentum sem eu tincidunt. Curabitur in dui quis magna vestibulum pulvinar a ut urna. Nam pellentesque mattis urna. Aenean eget lectus sit amet turpis facilisis consectetur quis vel ante. Integer in massa ut nibh ultricies sagittis imperdiet in ante. Nam sed turpis vel ante placerat feugiat ac tempus magna. Nam aliquet ullamcorper dolor non hendrerit.</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn">Visit Page</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="portfolioItem6" class="modal fade fade-scale" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="rectangle" data-dismiss="modal"><i class="fa fa-times"></i></a>
                    <img class="img-res" src="a{{ url_for('static', filename='ethan_img/portfolio-6.jpg')}}" alt="">
                </div>
                <div class="modal-body">
                    <h4 class="modal-title">Project title</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo finibus tristique. Maecenas dignissim condimentum sem eu tincidunt. Curabitur in dui quis magna vestibulum pulvinar a ut urna. Nam pellentesque mattis urna. Aenean eget lectus sit amet turpis facilisis consectetur quis vel ante. Integer in massa ut nibh ultricies sagittis imperdiet in ante. Nam sed turpis vel ante placerat feugiat ac tempus magna. Nam aliquet ullamcorper dolor non hendrerit.</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn">Visit Page</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="portfolioItem7" class="modal fade fade-scale" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="rectangle" data-dismiss="modal"><i class="fa fa-times"></i></a>
                    <img class="img-res" src="{{ url_for('static', filename='ethan_img/portfolio-7.jp')}}" alt="">
                </div>
                <div class="modal-body">
                    <h4 class="modal-title">Project title</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo finibus tristique. Maecenas dignissim condimentum sem eu tincidunt. Curabitur in dui quis magna vestibulum pulvinar a ut urna. Nam pellentesque mattis urna. Aenean eget lectus sit amet turpis facilisis consectetur quis vel ante. Integer in massa ut nibh ultricies sagittis imperdiet in ante. Nam sed turpis vel ante placerat feugiat ac tempus magna. Nam aliquet ullamcorper dolor non hendrerit.</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn">Visit Page</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="portfolioItem8" class="modal fade fade-scale" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="rectangle" data-dismiss="modal"><i class="fa fa-times"></i></a>
                    <img class="img-res" src="{{ url_for('static', filename='ethan_img/portfolio-8.jpg')}}" alt="">
                </div>
                <div class="modal-body">
                    <h4 class="modal-title">Project title</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo finibus tristique. Maecenas dignissim condimentum sem eu tincidunt. Curabitur in dui quis magna vestibulum pulvinar a ut urna. Nam pellentesque mattis urna. Aenean eget lectus sit amet turpis facilisis consectetur quis vel ante. Integer in massa ut nibh ultricies sagittis imperdiet in ante. Nam sed turpis vel ante placerat feugiat ac tempus magna. Nam aliquet ullamcorper dolor non hendrerit.</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn">Visit Page</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery core js | Do not Delete -->
    <script src="{{ url_for('static', filename='ethan_js/jquery.min.js')}}"></script>

    <!-- Bootstrap core js | Do not Delete -->
    <script src="{{ url_for('static', filename='ethan_js/bootstrap.min.js')}}"></script>

    <!-- Bootstrap progressbar JS -->
    <script src="{{ url_for('static', filename='ethan_js/bootstrap-progressbar.min.js')}}"></script>

    <!-- Count To JS -->
    <script src="{{ url_for('static', filename='ethan_js/jquery.countTo.min.js')}}"></script>

    <!-- Easing JS -->
    <script src="{{ url_for('static', filename='ethan_js/jquery.easing.min.js')}}"></script>

    <!-- Shuffle JS -->
    <script src="{{ url_for('static', filename='ethan_js/jquery.shuffle.min.js')}}"></script>

    <!-- Slick Carousel JS -->
    <script src="{{ url_for('static', filename='ethan_js/slick.min.js')}}"></script>

    <!-- Touchswipe JS -->
    <script src="{{ url_for('static', filename='ethan_js/touchswipe.min.js')}}"></script>

    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='ethan_js/script.js')}}"></script>
  
</body>
</html>
