<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FongSukDien</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='fsd_css/meyawo.css')}}">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">


    <header id="home" class="header">
        <div class="overlay"></div>
        <div class="header-content container">
            <h1 class="header-title">
                <span class="up">Portfolio of</span>
                <span class="down">Fong Suk Dien</span>
            </h1>           
        </div>              
    </header>


    <section class="section pt-0" id="about">
      
        <div class="container text-center">

            <div class="about">
                <div class="about-img-holder">
                    <img src="{{ url_for('static', filename='fsd_imgs/profile.png')}}" class="about-img">
                </div>
                <div class="about-caption">
                    <p class="section-subtitle">Who Am I ?</p>
                    <h2 class="section-title mb-3">Small Introduction</h2>
                    <p>
                        Adaptable and natural curiosity intern who looking for an entry level position in Data Science fields. I have maintained a CGPA of 3.9 and be awarded in president list continuously. 
                        Wishing to involve my data analytical skill in your future business plan.
                    </p>
                </div>              
            </div>
        </div>
    </section> 


    <section class="section" id="service">
        <div class="container text-center">
            <p class="section-subtitle">What Skills I Have ?</p>
            <h6 class="section-title mb-6">The use of Computer Software</h6>
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="{{ url_for('static', filename='fsd_imgs/pencil-case.svg')}}"   class="icon">
                            <h6 class="title">Amazon Web Services (AWS)</h6>
                            <p class="subtitle">The world's most comprehensive and broadly adopted cloud.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="{{ url_for('static', filename='fsd_imgs/responsive.svg')}}"   class="icon">
                            <h6 class="title">Tableau</h6>
                            <p class="subtitle">Data visualization software that lets you see and understand data in minutes.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="{{ url_for('static', filename='fsd_imgs/toolbox.svg')}}"   class="icon">
                            <h6 class="title">Statistical Analysis System (SAS)</h6>
                            <p class="subtitle">Innovative Analytics, Artificial Intelligence and Data Management software.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="{{ url_for('static', filename='fsd_imgs/analytics.svg')}}"   class="icon">
                            <h6 class="title">Anaconda</h6>
                            <p class="subtitle">An open-source distribution for python and R for data science, machine learning, deep learning, etc.</p>
                        </div>
                    </div>
                </div>
            </div><!-- end of row -->
        </div>
    </section><!-- end of service section -->

    <!-- portfolio section -->
    <section class="section" id="portfolio">
        <div class="container text-center">
            <p class="section-subtitle">To find more</p>
            <h6 class="section-title mb-6">About Me</h6>
            <!-- row -->
            <div class="row">
                <div class="col-md-4">
                    <div href="#" class="portfolio-card">
                        <img src="{{ url_for('static', filename='fsd_imgs/folio-1.jpg')}}" class="portfolio-card-img"  >    
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4>Languages</h4>
                                <p class="font-weight-normal">- Chinese, <br>- English <br>- Malay <br>- Cantonese<br>- Hakka</p>
                            </span>                         
                        </span>                     
                    </div>
                </div>
                <div class="col-md-4">
                    <div href="#" class="portfolio-card">
                        <img class="portfolio-card-img" src="{{ url_for('static', filename='fsd_imgs/folio-2.jpg')}}" class="img-responsive rounded"  >
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4>Interests</h4>
                                <p class="font-weight-normal">- Reading <br>- Cooking <br>- Playing Wei Qi</p>
                            </span>                         
                        </span>                         
                    </div>
                </div>
                <div class="col-md-4">
                    <div href="#" class="portfolio-card">
                        <img class="portfolio-card-img" src="{{ url_for('static', filename='fsd_imgs/folio-3.jpg')}}" class="img-responsive rounded"  >    
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4>Good at</h4>
                                <p class="font-weight-normal">- Time Management<br>- Problem Solving<br>- Collaboration<br>- Detail-oriented</p>
                            </span>                         
                        </span>                     
                    </div>
                </div>
            </div><!-- end of row -->
        </div><!-- end of container -->
    </section> <!-- end of portfolio section -->

 
    <!-- footer -->
    <div class="container">
        <footer class="footer">       
            <p class="mb-0">Copyright 2023 &copy; <a href="mailto:fongsd-wp20@student.tarc.edu.my">Fong Suk Dien</a></p>
            <div class="social-links text-right m-auto ml-sm-auto">
                <a href="https://www.facebook.com/fong.sukdien/" class="link">FB</a>
                <a href="https://twitter.com/DienSuk" class="link">Twi</a>
            </div>
        </footer>
    </div> <!-- end of page footer -->

</body>
</html>
