<!DOCTYPE html>
<html>
<head>
	<title>Employee Information</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Information</h1>

		<body bgcolor="lightcyan">

			<form>
				<div style="width: 100%;">
					<h2>Employee ID: {{ out_id }} <br></h2>
					<div style="float:left; width: 20%;">
						<h2 style="color: blue">Profile</h2> <br>
						<div style="margin: auto">
    							<img src="{{image_url}}" width="200px" height="300px" alt="Image Not Found">
						</div>
						<br>Created Date:<br> {{ out_date }} <br>
					</div>

					<div style="float:left; width: 40%;">
						<h2 style="color: blue">Personal Information</h2>
			  			First Name:<br> {{ out_fname }} <br><br>
			  			Last Name:<br> {{ out_lname }} <br><br>
			  			Primary Skill:<br> {{ out_skill }} <br><br>
			  			Location:<br> {{ out_location }} <br><br>
					</div>
					
					<div style="float:left; width: 40%;">
						<h2 style="color: blue">Work Detail</h2>
						Department:<br> {{ out_department }} <br><br>
						Job Title:<br> {{ out_jobtitle }} <br><br>
			  			Salary:<br> RM {{ out_salary }} <br><br>
						Bonus:<br> RM {{ out_bonus }} <br><br>
						Payroll:<br> RM {{ out_payroll }} <br><br>
					</div>
				</div>
				<div style="clear: both;"></div>
				
				<div>
					<br>
			  		<button type="submit" style="background: darkblue; height: 45px; width: 200px; color:white; font:oblique;" formaction="/getemp">RESET</button><br>
			  	</div>
			</form>
			<br>
			<a href="/">Home</a>
		</body>
	</font>
</center>
</html>
