<!DOCTYPE html>
<html>
<style>
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
 img {
	height: 100vh;
    	width: 100%;
    	margin: 0px;
    	padding: 0px;
    	position: relative;
    	display: flex;
    	flex-flow: column;
}    
div {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
</style>

<head>
	<title>Faber Castell Company</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">
		<img id="background" src="{{ url_for('static', filename='castell.jpg')}}" alt="background">
		<h1 style="color: white; position: absolute;">Faber Castell Company</h1>
		<body bgcolor="lightcyan">
		<div>
            	<form action="/" autocomplete="on" method = "POST" enctype="multipart/form-data">
            		<button type="submit" formaction="/addemp" style="border: 1px solid white; background: white; height: 70px; width: 300px; color:black; font:oblique;">ADD EMPLOYEE INFORMATION</button><br><br>
			<button type="submit" formaction="/getemp" style="border: 1px solid white; background: white; height: 70px; width: 300px; color:black; font:oblique;">GET EMPLOYEE INFORMATION</button><br><br>
			<button type="submit" formaction="/updateemp" style="border: 1px solid white; background: white; height: 70px; width: 300px; black:white; font:oblique;">UPDATE EMPLOYEE INFORMATION</button><br><br>
			<button type="submit" formaction="/deleteemp" style="border: 1px solid white; background: white; height: 70px; width: 300px; black:white; font:oblique;">DELETE EMPLOYEE INFORMATION</button><br><br>
                	<button type="submit" formaction="/about" style="border: 1px solid white; background: white; height: 70px; width: 300px; black:white; font:oblique;">ABOUT US</button><br><br>
            	</form>
		</div>
		</body>
	</font>
</center>
</html>
