<!DOCTYPE html>
<html>
<head>
	<title>Faber Castell Company</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Faber Castell Company</h1>

		<body bgcolor="lightcyan">
            <form action="/" autocomplete="on" method = "POST" enctype="multipart/form-data">
            	<button type="submit" formaction="/addemp" style="background: blue; height: 100px; width: 200px; color:white; font:oblique;">ADD EMPLOYEE INFORMATION</button><br><br>
		<button type="submit" formaction="/getemp" style="background: blue; height: 100px; width: 200px; color:white; font:oblique;">GET EMPLOYEE INFORMATION</button><br><br>
		<button type="submit" formaction="/updateemp" style="background: blue; height: 100px; width: 200px; color:white; font:oblique;">UPDATE EMPLOYEE INFORMATION</button><br><br>
		<button type="submit" formaction="/deleteemp" style="background: blue; height: 100px; width: 200px; color:white; font:oblique;">DELETE EMPLOYEE INFORMATION</button><br><br>
                <button type="submit" formaction="/about" style="background: blue; height: 100px; width: 200px; color:white; font:oblique;">ABOUT US</button><br><br>
            </form>
		</body>
	</font>
</center>
</html>
