<!DOCTYPE html>
<html>
<head>
	<title>Faber Castell Company</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Faber Castell Company</h1>

		<body bgcolor="lightgrey">

			<button type="submit" formaction="/getemp" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">EMPLOYEE INFORMATION</button><br><br>

            <button type="submit" formaction="/getemp" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">PAYROLL INFORMATION</button><br><br>
            
            <button type="submit" formaction="/about" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">ABOUT US</button><br><br>

		</body>
	</font>
</center>
</html>
