<!DOCTYPE html>
<html>
<head>
	<title>Payroll Information</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Database</h1>

		<body bgcolor="lightgrey">
            <form method="post" action="/pay">
                <p><a href="{{ url_for('.add_user_view') }}"> Add User </a></p>

                <p>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {% endwith %}
                </p>

                {{ table }}
            </form>
		</body>

	</font>
</center>
</html>
