<!DOCTYPE html>
<html>
<head>
	<title>Company Information</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Company Information</h1>

		<body bgcolor="lightcyan">

			<form>
				<div style="width: 100%;">
					<h2>Analysis<br></h2>

					<div style="float:left; width: 50%;">
						<h2 style="color: blue">Department</h2>
			  		{{ output }}
					</div>
					
					<div style="float:left; width: 50%;">
						<h2 style="color: blue">Work Detail</h2>
					</div>
				</div>
				<div style="clear: both;"></div>
			</form>
			<br>
			<a href="/">Home</a>
		</body>
	</font>
</center>
</html>
